@charset "utf-8";
/* @import url(icon.css?version=2020.06.16); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Reset with bootstrap */

.eODjjq {
    min-width: 570px;
    min-height: 100px;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 0px;
    max-height: calc(100vh - 80px);
    overflow: auto;
    width: auto;
    animation: 0.35s ease-in-out 0s 1 normal none running fDXrMv;
}

.ghQcKK {
    position: relative;
    min-height: 100vh;
    padding: 80px 0px 0px 240px;
    background: rgb(249, 249, 249);
    line-height: 1;
}

.hAoxqb {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
    padding: 20px 30px;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: rgb(255, 255, 255);
}

.eIXghe {
    margin: 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: rgb(72, 72, 72);
}

.h4, h4 {
    font-size: 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.33;
    font-weight: 600;
}

.h4, h4 {
    font-size: 1.5rem;
}

.kACgnA {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body, p, h1, h2, h3, span, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

.kACgnA {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.cyBdCS {
    padding: 30px;
    overflow: auto;
}

.dYlfew {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dRYhii {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.dRYhii > p {
    display: flex;
    width: 120px;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.bofPiX {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.eOwtyr {
    position: relative;
    width: 420px;
    height: 40px;
}

.kWOtIg {
    position: absolute;
    top: 13px;
    right: 10px;
    color: rgb(158, 158, 158);
}

.kWOtIg > span {
    color: rgb(51, 102, 255);
}

.kAlJiM {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: start;
    width: 100%;
    height: 100%;
    padding: 0px 30px 0px 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

input {
    outline: none;
}

a, button, input, textarea {
    transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out, color 0.15s ease-in-out, opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

body, input, textarea, select, button, table {
    font-family: 'Noto Sans JP', 'Noto Sans KR', 'SF Pro KR', 'SF Pro Text', 'SF Pro Icons', 'Apple Gothic', 'HY Gulim', 'MalgunGothic', 'HY Dotum', 'Lexi Gulim', 'Helvetica Neue', 'Helvetica', 'Arial', 'roboto', sans-serif;
}

body, p, h1, h2, h3, span, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

button, input {
    overflow: visible;
}

.dRYhii > p > span {
    color: rgb(51, 102, 255);
    margin: 0px 0px 0px 3px;
}

.fEwJTL {
    color: rgb(204, 204, 204);
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 230px;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 10px 12px;
    background-color: rgb(255, 255, 255);
}

.egOPWP {
    width: 100%;
    border: none;
    z-index: 3;
    background-color: transparent;
    cursor: pointer;
    color: rgb(72, 72, 72);
}


.SDuQE {
    position: absolute;
    right: 13px;
    z-index: 2;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.dRYhii > p {
    display: flex;
    width: 120px;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.fEwJTL {
    color: rgb(204, 204, 204);
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 230px;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 10px 12px;
    background-color: rgb(255, 255, 255);
}


.hjPBnh {
    display: flex;
    gap: 14px;
    margin: 0px;
}

.iPtNDI {
    position: relative;
}

.jDyxgW {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 420px;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 0px 12px;
    color: rgb(72, 72, 72);
    line-height: 20px;
    appearance: none;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

[hidden] {
    display: none !important;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.iPtNDI svg {
    position: absolute;
    right: 16px;
    top: 17px;
}

.Hhkrq {
    width: 100%;
    height: 1px;
    background-color: rgb(217, 217, 217);
    margin: 30px 0px;
}

.kRZLCX {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.kaGuOm {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.h3, h3 {
    font-size: 24px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.33;
    font-weight: 600;
}

.dNkbEP {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
}



.hjPBnh {
    display: flex;
    gap: 14px;
    margin: 0px;
}

.iPtNDI {
    position: relative;
}

