.title1 {
  padding-top: 150px;
  margin-left: 23%;
  margin-right: 10%;
}

.box {
  margin-top: 50px;
  margin-left: 23%;
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 60px;
  width: 70%;
  height: auto;
  border-top: 2px solid black;
  border-bottom: 1px solid #999;
}

.content1 {
  padding-top: 25px;
  padding-left: 15%x;
  font-weight: bold;
  font-size: large;
  float: left;
}

.content2 {
  display: inline-block;
  padding-left: 150px;
  padding-top: 15px;
}

.workType {
  width: 250px;
  padding: 0.8em 0.5em;
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 10px;
  font-family: inherit;
}

.box2 {
  margin-left: 23%;
  margin-right: 5%;
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 50px;
  width: 70%;
  height: auto;
  border-bottom: 1px solid #999;
  float: left;
}

.content3 {
  display: inline-block;
  padding-left: 200px;
  padding-top: 15px;
}

.day {
  width: 60px;
  height: 60px;
  /* background-color: #b9ddff35; */
  color: rgb(83, 80, 80);
  border-radius: 50%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin-left: 3px;
}
.active3 {
  width: 60px;
  height: 60px;
  color: blue;
  background-color: #b9ddff;
  border-radius: 50%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin-left: 3px;
}

.bcontainer {
  float: left;
}

.content5 {
  display: inline-block;
  padding-left: 10px;
  padding-top: 15px;
}

.selectDay {
  font-size: small;
  color: #999;
  padding-left: 250px;
}

.basicWorkTime {
  overflow: hidden;
  padding-top: 22px;
  margin-left: 190px;
  float: left;
}

.basicWorkTime1 {
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 5px;
  margin-right: 15px;
  height: 30px;
  float: left;
}

.line1 {
  float: left;
  padding-top: 7px;
}
.line2 {
  float: left;
  margin-left: 10px;
  margin-top: 3px;
}
.basicWorkTime2 {
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 5px;
  height: 30px;
  margin-left: 15px;
  margin-right: 20px;
  float: left;
}

.content6 {
  padding-top: 27px;
  font-size: large;
  padding-right: 30px;

  color: #999;
  float: left;
}

.result {
  display: inline-block;
  padding-top: 27px;
  color: red;
}

.basicLunch1 {
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 5px;
  margin-right: 15px;
  height: 30px;
  float: left;
}

.basicLunch2 {
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 5px;
  margin-left: 15px;
  height: 30px;
}

.basicLunch {
  overflow: hidden;

  padding-top: 20px;
  margin-left: 108px;
  float: left;
}

.availwork {
  overflow: hidden;

  padding-top: 5px;
  padding-left: 100px;
  float: left;
}

.startAvail1 {
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 5px;
  height: 30px;
  float: left;
  margin-right: 15px;
}

.startAvail2 {
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 5px;
  height: 30px;
  margin-left: 15px;
}

.endAvail1 {
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 5px;
  height: 30px;
  margin-right: 15px;
  margin-left: 60px;
}

.endAvail2 {
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 5px;
  height: 30px;
  margin-left: 15px;
}

.selectDay1 {
  font-size: small;
  color: #999;
  padding-left: 100px;
  padding-right: 220px;
  float: left;
}

.selectDay2 {
  font-size: small;
  color: #999;
}

.allTime {
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 5px;
  height: 30px;
  width: 110px;
  float: left;
}

.overTime {
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 5px;
  height: 30px;
  width: 110px;
  float: left;
}

.availwork2 {
  overflow: hidden;

  padding-top: 25px;
  margin-left: 140px;
  float: left;
}

.availwork1 {
  overflow: hidden;

  padding-top: 20px;
  margin-left: 80px;
  float: left;
}

.workSet {
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 5px;
  height: 30px;
  width: 60px;
}

.box3 {
  margin-left: 85%;
  margin-right: 10%;
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 50px;
  width: 80%;
  height: auto;
  float: left;
}
