@charset "utf-8";
/* @import url(icon.css?version=2020.06.16); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Reset with bootstrap */
html {
  font-size: 16px;
}
body,
p,
h1,
h2,
h3,
span,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}








.eyVfFY {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    min-height: 110px;
    color: rgb(51, 51, 51);
    padding: 25px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.h1, h1 {
    font-size: 44px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.33;
    font-weight: 600;
}

body, p, h1, h2, h3, span, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}




.hBCNCB {
    width: 100%;
    min-height: 110px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0px 0px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: currentcolor;
}

div {
    display: block;
}

.chgDvi {
    min-width: 1200px;
    padding: 20px 32px 93px 0px;
    color: rgb(51, 51, 51);
}

.dUEwDP {
    position: relative;
    min-height: 100vh;
    padding: 0px 0px 0px 240px;
    background: rgb(249, 249, 249);
    line-height: 1;
}

body {
    color: rgb(0, 0, 0);
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, input, textarea, select, button, table {
    font-family: 'Noto Sans JP', 'Noto Sans KR', 'SF Pro KR', 'SF Pro Text', 'SF Pro Icons', 'Apple Gothic', 'HY Gulim', 'MalgunGothic', 'HY Dotum', 'Lexi Gulim', 'Helvetica Neue', 'Helvetica', 'Arial', 'roboto', sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

body {
    margin: 0px;
    line-height: inherit;
}


.elHVrX {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.h3, h3 {
    font-size: 24px;
}

.h3, h3 {
    font-size: 1.75rem;
}

.jdTeyH {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px 0px 0px;
}

.jdTeyH > div {
    display: flex;
    gap: 20px;
}

.eieTGn {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.eieTGn > h4 {
    color: rgb(136, 136, 136);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.h4, h4 {
    font-size: 20px;
}

.dMtzEV {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.eZeAcE {
    display: flex;
    gap: 32px;
    height: 40px;
}

.eZeAcE > p {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 7px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

[type='button']:not(:disabled), [type='reset']:not(:disabled), [type='submit']:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

button {
    outline: none;
    background: none;
    border: none;
}

a, button, input, textarea {
    transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out, color 0.15s ease-in-out, opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

body, input, textarea, select, button, table {
    font-family: 'Noto Sans JP', 'Noto Sans KR', 'SF Pro KR', 'SF Pro Text', 'SF Pro Icons', 'Apple Gothic', 'HY Gulim', 'MalgunGothic', 'HY Dotum', 'Lexi Gulim', 'Helvetica Neue', 'Helvetica', 'Arial', 'roboto', sans-serif;
}

.akSTg > svg {
    width: 24px;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.jdTeyH > div {
    display: flex;
    gap: 20px;
}

.eieTGn {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.eieTGn > h4 {
    color: rgb(136, 136, 136);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.knYfag {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.kfdWKD {
    position: relative;
    width: 262px;
    height: 40px;
}

.kGCoAu {
    position: absolute;
    top: 13px;
    right: 10px;
    color: rgb(158, 158, 158);
}

.dzyuNL {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: end;
    width: 100%;
    height: 100%;
    padding: 0px 30px 0px 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

input {
    outline: none;
}

.jlwMoN {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: rgb(51, 102, 255);
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 4px;
    margin: 30px 0px 0px;
}

.hfiqNv {
    display: flex;
    position: fixed;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 16px 32px 16px 272px;
    border-top: 1px solid rgb(238, 238, 238);
    background-color: rgb(255, 255, 255);
    z-index: 202;
}

.dZQnbO {
    display: flex;
    gap: 10px;
}

.cQdpP {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 130px;
    height: 40px;
    padding: 10px 23px;
    color: rgb(72, 72, 72);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
}



.fcrGkJ {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.fcrGkJ > h4 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: rgb(136, 136, 136);
}

.emfnGG {
    display: flex;
    gap: 14px;
    margin: 0px;
}

.jpUIyz {
    position: relative;
}

.kSYRJd {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 250px;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 0px 12px;
    color: rgb(72, 72, 72);
    line-height: 20px;
    appearance: none;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.jpUIyz svg {
    position: absolute;
    right: 16px;
    top: 17px;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}










