@charset "utf-8";
/* @import url(icon.css?version=2020.06.16); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Reset with bootstrap */


.bejReo {
    padding: 20px 32px 20px 0px;
    min-width: 1156px;
    color: rgb(51, 51, 51);
}

*, ::after, ::before {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: currentcolor;
}


div {
    display: block;
}


.jAlyLO {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    min-height: 110px;
    color: rgb(51, 51, 51);
    padding: 25px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.h1, h1 {
    font-size: 44px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.33;
    font-weight: 600;
}

body, p, h1, h2, h3, span, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

.h1, h1 {
    font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

.kQsZmb {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.gWDUvP {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}


[type='button']:not(:disabled), [type='reset']:not(:disabled), [type='submit']:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.ijYNHD {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 24px;
    line-height: 19px;
    background-color: rgb(51, 102, 255);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 14px;
}

button {
    outline: none;
    background: none;
    border: none;
}

a, button, input, textarea {
    transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out, color 0.15s ease-in-out, opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

body, input, textarea, select, button, table {
    font-family: 'Noto Sans JP', 'Noto Sans KR', 'SF Pro KR', 'SF Pro Text', 'SF Pro Icons', 'Apple Gothic', 'HY Gulim', 'MalgunGothic', 'HY Dotum', 'Lexi Gulim', 'Helvetica Neue', 'Helvetica', 'Arial', 'roboto', sans-serif;
}

.hHzFai {
    width: 100%;
    min-height: 110px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0px 0px;
}

.hipoEb {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.hWoUab {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 356px;
    height: 188px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 4px;
    padding: 20px;
}

li {
    list-style: none;
}

.iqsrfC {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.iqsrfC > h2 {
    width: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.h2, h2 {
    font-size: 32px;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.hSUnfc {
    width: inherit;
    margin: 8px 0px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgb(102, 102, 102);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.fznkYz {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 14px 0px 0px;
    color: rgb(102, 102, 102);
    cursor: pointer;
}

.fznkYz > p {
    line-height: 20px;
}

.esXXLt {
    display: block;
    width: fit-content;
    padding: 5px;
    margin: 14px 0px 0px;
    font-size: 12px;
    line-height: 15px;
    background-color: rgb(255, 234, 234);
    border-radius: 4px;
}


:root, .t-bMNoNh {
    --colors-gray800: var(--color-ws-gray-gray-800);
    --colors-gray700: var(--color-ws-gray-gray-700);
    --colors-gray600: var(--color-ws-gray-gray-600);
    --colors-gray500: var(--color-ws-gray-gray-500);
    --colors-gray400: var(--color-ws-gray-gray-400);
    --colors-gray300: var(--color-ws-gray-gray-300);
    --colors-gray200: var(--color-ws-gray-gray-200);
    --colors-gray100: var(--color-ws-gray-gray-100);
    --colors-blue400: var(--color-ws-blue-blue-400);
    --colors-blue300: var(--color-ws-blue-blue-300);
    --colors-blue200: var(--color-ws-blue-blue-200);
    --colors-blue100: var(--color-ws-blue-blue-100);
    --colors-lightblue200: var(--color-ws-blue-lightblue-200);
    --colors-lightblue100: var(--color-ws-blue-lightblue-100);
    --colors-lightblue50: var(--color-ws-blue-lightblue-50);
    --colors-red400: var(--color-ws-second-red-400);
    --colors-red100: var(--color-ws-second-red-100);
    --colors-green400: var(--color-ws-second-green-400);
    --colors-green100: var(--color-ws-second-green-100);
    --colors-yellow100: var(--color-ws-second-yellow-100);
    --colors-white: var(--color-ws-white);
    --colors-black: var(--color-ws-black);
}

:root {
    --color-ws-gray-gray-800: #333;
    --color-ws-gray-gray-700: #666;
    --color-ws-gray-gray-600: #888;
    --color-ws-gray-gray-500: #9e9e9e;
    --color-ws-gray-gray-400: #ccc;
    --color-ws-gray-gray-300: #e0e0e0;
    --color-ws-gray-gray-200: #eee;
    --color-ws-gray-gray-100: #f9f9f9;
    --color-ws-blue-blue-400: #36f;
    --color-ws-blue-blue-300: #4d7dff;
    --color-ws-blue-blue-200: #699cff;
    --color-ws-blue-blue-100: #83b4ff;
    --color-ws-blue-lightblue-200: #b9ddff;
    --color-ws-blue-lightblue-100: #e1f0ff;
    --color-ws-blue-lightblue-50: #f1f7fe;
    --color-ws-second-red-400: #fe415c;
    --color-ws-second-red-100: #ffeaea;
    --color-ws-second-green-400: #08ba9c;
    --color-ws-second-green-100: #dbf6de;
    --color-ws-second-yellow-100: #ffefb8;
    --color-ws-white: #fff;
    --color-ws-black: #000;
}

:root {
    --root: 16px;
    --micro: 10px;
    --mini: .75rem;
    --small: .875rem;
    --medium: 1.125rem;
    --large: 1.25rem;
    --xlarge: 3.5rem;
    --big: 4.5rem;
    --size-xxs: .25rem;
    --size-xs: .5rem;
    --size: 1rem;
    --size-sm: 1.5rem;
    --size-md: 2rem;
    --size-lg: 2.5rem;
    --size-xl: 3rem;
    --size-xxl: 4rem;
    --line-xxs: 1.2;
    --line-xs: 1.25;
    --line-sm: 1.33;
    --line-md: 1.43;
    --line: 1.5;
    --g50: #fafafa;
    --g100: #f5f5f5;
    --g200: #eeeeee;
    --g300: #e0e0e0;
    --g400: #bdbdbd;
    --g500: #9e9e9e;
    --g600: #767676;
    --g700: #616161;
    --g800: #484848;
    --g900: #212121;
    --b50: #e3f2fd;
    --b100: #bbdefb;
    --b200: #91caf9;
    --b300: #64b5f7;
    --b400: #2b97f3;
    --b500: #0381eb;
    --b600: #0075e6;
    --b700: #086bde;
    --b800: #065fc5;
    --b900: #0c48a2;
    --white: #ffffff;
    --black: #000000;
    --r50: #ffebe5;
    --r500: #e94334;
    --r800: #bf2600;
    --green50: #e2ffee;
    --green500: #35a753;
    --green800: #006644;
    --y500: #fbbc06;
    --sky500: #24c0e0;
    --p500: #a041f4;
    --p50: #f3e5f5;
    --orange500: #ff7743;
    --o100: #ffcc80;
    --o50: #fff8e1;
    --z100: 0 1px 1px 0 rgba(72, 72, 72, 0.25), 0 0 1px 0 rgba(72, 72, 72, 0.31);
    --z200: 0 4px 8px -2px rgba(72, 72, 72, 0.25), 0 0 1px 0 rgba(72, 72, 72, 0.31);
    --z300: 0 8px 16px -4px rgba(72, 72, 72, 0.25), 0 0 1px 0 rgba(72, 72, 72, 0.31);
    --zbottom: 0 0 10px -2px rgba(72, 72, 72, 0.25), 0 0 1px 0 rgba(72, 72, 72, 0.1);
    --border-color: rgba(189,189,189,.3);
    --nav-height: 48px;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

body {
    word-break: break-all;
    word-wrap: break-word;
    font-size: 0.875rem;
    color: #484848;
}

.ePUqqs {
    position: relative;
    min-height: 100vh;
    padding: 0px 0px 0px 240px;
    background: rgb(249, 249, 249);
    line-height: 1;
}

