.HRlistone
{
  padding-top: 100px;
  padding-left: 250px;
  margin-right: 5%;
}

.titlee{
  margin-left: 5%;
  margin-top: 2%;
}

.box 
{
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 60px;
  width: auto;
  height: auto;
  border-top: 2px solid black;
  border-bottom: 1px solid #999;
}

.content1 {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 115px 200px;
  justify-content: start;
  align-items: center;
  justify-items: start;
  margin-bottom: 50px;
}
.content2 {
  display : flex ;
  align-items: center;
  width: 550px;
}

.workType {
  width: 100px;
  padding: 0.8em 0.5em;
  margin-left: 25px;
  border: 1px solid #999;
  background-color: #b9ddff35;
  border-radius: 5px;
  font-family: inherit;
}

.workType::-ms-expand {
  display: none;
}

.content2 > input[type="text"]
{
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid #999;
  margin: 0px 15px 0px 15px;
}

.applbutton > button
{
  height: 43px;
  width: 80px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #b9ddff35;
  margin-right: 20px;
}

.appltable {
  width: 100%;
  border-collapse: collapse;
}

.appltr
{
  border-bottom: 1px solid #999;
}

.appltd 
{
  padding: 15px 10px 15px 30px;
}

.applth 
{
  background-color: #b9ddff35;
  padding: 15px 10px 15px 30px;
}

.applthead
{
  text-align: left;
}